#menu{
    border: 2px solid;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
}

html{
    font-family: cursive;
    background-color: antiquewhite;
}

hr{
    background-color: rgb(106, 112, 148);
}

.presentation{
    text-align: center;   
    line-height: 20%;
    font-size: 130%;
}


.h1{
    text-align: center;
    font-weight: bold;
    color: rgb(92, 113, 207);
}


.titre1, .titre2, .titre3, .titre4, .titre5{
    color: rgb(92, 113, 207);
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    font-size: 33px;
    font-weight: bold;
    border-width:1px;
    border-style:solid;
    border-color:black;
}

table{
    margin-left: 5%;
    margin-right: 5%;
    font-size: 20px;
}

p{
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 20px;
}

.espaceligne{
    border-spacing: 20px;
}